.boardView {
    -fx-background-color: red;
}

.columnListView {
    -fx-background-color: black;
}

.columnListView .list-cell {
    -fx-background-color: green;
}

.columnListView .list-cell:filled {
    -fx-background-color: yellow;
}

.columnListView .list-cell:selected {
    -fx-background-color: grey;
}

.columnListView .list-cell:focused {
    -fx-background-color: white;
}