.bpCard {
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color: #e5e5e5;
}

.btUp,
#btRight,
#btDown,
#btLeft {
    -fx-background-color: #e5e5e5;
    -fx-color: #ffffff;
    -size: 30;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
}


